.HowWorksmian{
    background-image:url("../../../../public/howworks.png");
    background-repeat: no-repeat;
    background-size:833px;
    background-position: 341px  138px;
}
.earnSLider{
    background-color: #211253;
    border: 1px solid #8269D4;
    text-align: left;
    padding: 24px;
    padding-top: 32px;
    border-radius: 12px;
    margin-bottom: 100px;
    height:237px;
    font-size: 36px;
}
.slick-slide > div{
  margin: 0 30px;
}
.slick-slide>div:nth-child(1){
margin-left: 0;
}
.slick-list{
    margin-left: 30px;
}
.footerMenu{
    display:flex;
}
.aboutMain{
    background-size:100% auto;
}
@media screen and (max-width: 1200px) {
    .HowWorksmian {
        background-size:580px;
        background-position:100% 100%;
    }
    .aboutMain{
        background-size:100% auto;
    }
    .earnSLider{
        height: 259px;
        text-align: left;
    }
  }
@media screen and (max-width: 900px) {
    .HowWorksmian {
        background-size: 200px;
        background-position:100%;
    }
    .earnSLider{
        height:180px;
        text-align: center;
    }
    .slick-list{
        margin-left: 30px;
    }
    .HowWorksImage{
        background-size: 19% 17%;
    }
    .aboutMain{
        background-size: 304px;
        background-position: 264px 178px;
    }
    .OverViewButton{
        transition: width 2s;
    }
    .LaunchButton{
       border: 2px solid transparent;
       border-radius: 6px;
       font-family:CoinbaseTextMedium;
       padding-left: 38px;
       padding-right: 38px;
       line-height: 1.75;
       font-size: 1.25rem;
       
    }
    .OverViewButton>button:hover{
        background-color: #FCC141;
    }
  }
@media screen and (max-width: 767px) {
    .HowWorksmian {
        background-size: 143px;
        background-position:100%;
    }
    .footerMenu{
        display:none;
    }
    .HowWorksImage{
        background-size: 19% 9%;
     }
    .aboutMain{
        background-size: 372px;
        background-position: center bottom;
    }
  }
  